.aside {
  border-radius: 25px;
  flex-grow: 1;
  background-color: var(--dark-color);
  // margin: 10px;
  padding: 34px;


  display: flex;
  flex-direction: column;

  @media (min-width: 1921px) {
    padding: 3.4rem;
    border-radius: 2.5rem;
  }

  @media (min-width: 1536px) and (max-width: 1890px) {
    border-radius: 20px;
    padding: 70px 30px;
  }

  @media (min-width: 1366px) and (max-width: 1535px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: 1024px) and (max-width: 1365px) {
    margin: 0;
    padding: 60px 30px;
  }

  @media (min-width: 744px) and (max-width: 1023px) {
    padding: 60px 30px;
  }

  @include mobile {
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
  }

  &__items {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;


    @media (min-width: 1024px) and (max-width: 1365px) {
      flex-direction: row;
      align-items: stretch;
      gap: 10px;
    }

    @media (min-width: 744px) and (max-width: 1023px) {
      flex-direction: column;
      gap: 20px;
    }

    @include mobile {
      gap: 6px;
    }
  }

  &__item {

    .aside-item__title {

      &::before {
        content: "01";
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        background-color: var(--dark-color);
        border-radius: 100%;
        color: var(--white-color);
        font-family: Grafita;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (min-width: 1921px) {
          width: 8rem;
          height: 8rem;
          font-size: 2.6rem;
        }

        @media (max-width: 1890px) {
          width: 48px;
          height: 48px;
          font-size: 16px;
        }

        @include mobile {
          width: 44px;
          height: 44px;
          background-color: var(--accent-color);
        }
      }
    }

    &:nth-child(2) {
      .aside-item__title {
        &::before {
          content: "02";
        }
      }
    }

    &:nth-child(3) {
      .aside-item__title {
        &::before {
          content: "03";
        }
      }
    }

    &:nth-child(even) {
      .aside-item__title {
        flex-direction: row-reverse;
        justify-content: space-between;

        @media (max-width: 1890px) {
          flex-direction: row;
          justify-content: flex-start;
        }

        @media (max-width: 1023px) {
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
  }
}

.aside-item {
  padding: 34px;
  background-color: var(--accent-color);
  border-radius: 26px;

  @media (min-width: 1921px) {
    padding: 3.4rem;
    border-radius: 2.6rem;
  }

  @media (min-width: 1536px) and (max-width: 1890px) {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    border-radius: 20px;
  }

  @media (min-width: 1366px) and (max-width: 1535px) {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }

  @media (min-width: 1024px) and (max-width: 1365px) {
    padding: 20px;
    border-radius: 20px;
    flex: 1;
  }

  @media (min-width: 744px) and (max-width: 1023px) {
    padding: 20px;
  }

  @include mobile {
    padding: 30px 15px 34px;
    background-color: var(--dark-color);
    border-radius: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 64px;

    @media (min-width: 1921px) {
      margin-bottom: 6.4rem;
    }

    @media (min-width: 1536px) and (max-width: 1890px) {
      margin-bottom: 50px;
    }

    @media (min-width: 1366px) and (max-width: 1535px) {
      margin-bottom: 30px;
    }

    @media (max-width: 1365px) {
      margin-bottom: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 24px;

    margin: 0;
    margin-bottom: 23px;
    color: var(--white-color);
    font-family: Grafita;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 1921px) {
      gap: 2.4rem;
      margin-bottom: 2.3rem;
      font-size: 2.6rem;
    }

    span {
      max-width: 304px;

      @media (min-width: 1921px) {
        max-width: 30.4rem;
      }

      @media (min-width: 1536px) and (max-width: 1890px) {
        max-width: 304px;
      }

      @media (min-width: 1366px) and (max-width: 1535px) {
        max-width: 209px;
      }

      @media (min-width: 744px) and (max-width: 1023px) {
        max-width: unset;
      }
    }

    @media (min-width: 1536px) and (max-width: 1890px) {
      gap: 20px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    @media (min-width: 1366px) and (max-width: 1535px) {
      gap: 10px;
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (min-width: 1024px) and (max-width: 1365px) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (min-width: 744px) and (max-width: 1023px) {
      gap: 20px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    @include mobile {
      gap: 10px;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0;
    color: var(--white-color);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @media (min-width: 1921px) {
      font-size: 2rem;
    }

    @media (max-width: 1890px) {
      font-size: 16px;
    }

    @include mobile {
      font-size: 15px;
    }
  }
}