.footer {
  display: none;

  width: 100%;
  background-color: var(--dark-color);
  border-radius: 20px;
  padding: 60px 30px;

  @media (max-width: 1365px) {
    display: block;
  }

  @include mobile {
    border-radius: 10px;
    padding: 30px 15px;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 50px;

      @include mobile {
        margin-bottom: 34px;
      }
    }

    &--end {
      align-items: flex-end;
    }

    &:first-child {
      @media (min-width: 744px) and (max-width: 1023px) {
        flex-direction: column-reverse;
        gap: 20px;
      }

      @include mobile {
        flex-direction: column-reverse;
        gap: 30px;
      }
    }

    @media (min-width: 744px) and (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
    }

    @include mobile {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .logo {
    @media (min-width: 744px) and (max-width: 1023px) {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-bottom: 0;
    }
  }

}