.footer {
  display: none;
  background-color: var(--dark-color);
  border-radius: 20px;
  padding: 60px 30px;

  @media(max-width: 1024px) {
    display: block;
  }

  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &--end {
      align-items: flex-end;
    }

    &:first-child {
      @media (max-width: 744px) {
        flex-direction: column-reverse;
        gap: 20px;
      }
    }

    @media (max-width: 744px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .logo {
    @media (max-width: 744px) {
      margin-bottom: 50px;
    }
  }

}