.header {
  flex-shrink: 0;
  width: 100%;
  height: 137px;
  border-radius: 25px;
  background: var(--dark-color);
  margin-bottom: 10px;
  // margin-bottom: 5px;
  // margin-right: 0;
  padding-left: 121px;
  padding-right: 121px;

  @media (min-width: 1921px) {
    height: 13.7rem;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 12.1rem;
    padding-right: 12.1rem;
  }

  @media (min-width: 1536px) and (max-width: 1919px) {
    height: 121px;
    border-radius: 20px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1366px) and (max-width: 1535px) {
    height: 121px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1024px) and (max-width: 1365px) {
    height: 121px;
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 744px) and (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    height: 90px;
  }

  @include mobile {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0;
    height: unset;
  }

  &>.container {
    height: 100%;
  }

  &__logo {
    max-width: 212px;

    @media (min-width: 1921px) {
      max-width: 21.2rem;
    }

    svg {
      width: 100%;
    }

    @media (min-width: 744px) and (max-width: 1023px) {
      max-width: 165px;
    }

    @include mobile {
      max-width: 111px;
    }
  }

  &__row {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__socials {
    display: flex;
    align-items: center;
  }
}

.socials {
  &__link {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (min-width: 1921px) {
      gap: 2rem;
    }

    @media (max-width: 1023px) {
      gap: 10px;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @media (min-width: 1921px) {
        margin-right: 2.4rem;
      }

      @include mobile {
        margin-right: 10px;
      }
    }

    &>span {
      color: var(--white-color);
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: 1921px) {
        font-size: 2.4rem;
      }

      @media (min-width: 744px) and (max-width: 1023px) {
        font-size: 18px;
      }

      @include mobile {
        display: none;
      }
    }

    &>svg {
      height: 69px;
      width: 69px;

      @media (min-width: 1921px) {
        height: 6.9rem;
        width: 6.9rem;
      }

      path {
        transition: fill .3s ease-in;
      }

      @media (min-width: 744px) and (max-width: 1023px) {
        width: 54px;
        height: 54px;
      }

      @include mobile {
        width: 40px;
        height: 40px;
      }
    }

    @include hover {

      .tg-circle,
      .wh-circle {
        fill: var(--accent-color);
      }

      .tg-icon,
      .wh-icon {
        fill: var(--white-color)
      }
    }
  }
}