// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 988px;
  --container-offset: 0;

  @media (min-width: 1536px) and (max-width: 1919px) {
    --content-width: 890px;
  }

  @media (min-width: 1024px) and (max-width: 1366px) {
    --content-width: 920px;
  }

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --dark-color: #191919;
  --accent-color: #9A62FF;
}